@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cairo", serif;
}
:root {
    --main-color: #030921; 
    --secondary-color: #0063f5; 
}
html {
    scroll-behavior: smooth;
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* #----------------------------------- Home -----------------------------------# */
.home {
    background-color: var(--main-color);
    padding-bottom: 50px;
}
.nav {
    padding: 25px 0 45px;
}
.nav .container { 
    display: flex;
    justify-content: space-between;
    color: var(--secondary-color);
}
.nav ul {
    display: flex;
    column-gap: 30px;
    font-size: 17px;
}
.nav .container a {
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
}
.nav .container a:hover {
    color: var(--secondary-color);
    text-shadow: 0 0 15px var(--secondary-color), 
    0 0 30px var(--secondary-color),
    0 0 45px var(--secondary-color),
    0 0 60px var(--secondary-color);
}
.nav i {
    font-size: 30px;
    cursor: pointer;
}
.nav .sections2 {
    display: none;
    position: absolute;
    right: 5%; 
    top: 10%;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}
.nav i:hover + div {
    display: block;
}
.nav .sections2:hover {
    display: block;
}
@media (max-width: 600px) {
    .nav ul {
        display: none;
    }
}
@media (min-width: 600px) {
    .nav .bars {
        display: none;
    }
}
.body img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    border: 6px solid var(--secondary-color);    
}
.body .container {
    display: flex;
    justify-content: space-between;
}
.body .text h1 {
    font-size: 40px;
    color: var(--secondary-color);
    letter-spacing: 1.3px;
}
.body .text h3 {
    color: #fff;
    font-size: 25px; 
    letter-spacing: 1.3px;   
}
.typing-container {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid var(--secondary-color);
    animation: typing 3s steps(30, end) infinite alternate, deleting 2s steps(30, end) infinite alternate;
}
@keyframes typing {
    from { width: 20%; }
    to { width: 45%; }
}
@keyframes deleting {
    from { width: 45%; }
    to { width: 20%; }
}
@media (max-width: 1030px) {
    @keyframes typing {
        from { width: 20%; }
        to { width: 60%; }
    }
    @keyframes deleting {
        from { width: 60%; }
        to { width: 20%; }
    }
}
@media (max-width: 992px) {
    @keyframes typing {
        from { width: 25%; }
        to { width: 100%; }
    }
    @keyframes deleting {
        from { width: 100%; }
        to { width: 25%; }
    }
}
@media (max-width: 730px) {
    @keyframes typing {
        from { width: 20%; }
        to { width: 65%; }
    }
    @keyframes deleting {
        from { width: 65%; }
        to { width: 20%; }
    }
}
@media (max-width: 582px) {
    @keyframes typing {
        from { width: 25%; }
        to { width: 90%; }
    }
    @keyframes deleting {
        from { width: 90%; }
        to { width: 25%; }
    }
}
.body .text p {
    color: #fff;
    letter-spacing: 1.3px;
}
.body button {
    margin-top: 20px;
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}
.body button span {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid var(--secondary-color);
}
.body button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}
.body button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: var(--secondary-color);
}
.body button:hover {
    color: #fff;
}
.body button:active span::before {
    background: var(--secondary-color);
}
.body h4 {
    margin-top: 10px;
    color: #fff;
    letter-spacing: 1.3px;   
    font-size: 17px;
}
.body ul {
    margin-top: 10px;
    display: flex;
    column-gap: 30px;
}   
.gmail:active {
    color: var(--secondary-color);
}
.body ul a {
    color: var(--secondary-color);
    padding: 0px 9px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    transition: 0.3s;
}
.body ul a:hover {
    background-color: #fff;
    box-shadow: 0 2px 10px 5px #0063f5;
}
.linkedin:hover {
    color: #0077B5;
}
.github:hover {
    color: #181717;
}
.facebook:hover {
    color: #1877F2;
}
@media (max-width: 730px) {
    .body .container {
        flex-direction: column-reverse;
        text-align: center;
    }
    .body ul {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        column-gap: 60px;
    } 
    .body img {
        width: 200px;
        height: 200px;
    }
    .cv {
        display: flex;
        justify-content: center;
    }
}
/* #----------------------------------- Skills -----------------------------------# */
.skills {
    background-image: url("/assets/bg_img.png");
    background-size: cover;
    padding: 20px 0;
}
.main-head {
    margin: 0 50px 20px ;
    border-bottom: 3px solid var(--secondary-color);
}
.main-head h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    background-color: var(--secondary-color);
    width: 150px;
}
.skills .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills .record {
    width: 100%;
}
.skills img {
    width: 500px;
}
.skills .progress {
    position: relative;
    width: 100%;
    height: 17px;
    border-radius: 10px;
    background-color: #ccc;
    margin: 7px;
}
.skills .progress span {
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: 2s;
}
.skills .record h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skills .record h3 span {
    border: 1px solid ;
    padding: 0px 5px;
    border-radius: 10px;
    font-size: 12px;
}
@media (max-width: 992px) {
    .skills img {
        display: none;
    }
}
@media (max-width: 600px) {
    .main-head {
        display: flex;
        justify-content: center;
    }
}
/* #----------------------------------- Projects -----------------------------------# */
.projects {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 20px 0;
    letter-spacing: 1.1px;
    overflow: hidden;
}
.projects .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 15px;
}
.projects .project {
    border: 2px solid #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.project:nth-child(odd) {
    transform: translateX(-100px);
}
.project:nth-child(even) {
    transform: translateX(100px);
}
.project.show {
    opacity: 1;
    transform: translateX(0);
}
.projects .project:hover {
    box-shadow: 0 1px 13px 1px #0063f5;
}
.projects .project .head {
    border-bottom: 2px solid var(--secondary-color);
    padding: 15px 5px;
}
.projects .project h2 {
    position: relative;
    padding-left: 20px;
}
.projects .project h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 16px;
    background-color: var(--secondary-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.projects .project h2 + span{
    color: #fff;
    font-size: 20px;
}
.projects .project ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 2px solid var(--secondary-color);
    padding: 15px 5px;
}
.projects .project ul li {
    padding: 0 3px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;    
}
.projects .project .links {
    padding: 15px 5px;
}
.projects .project .code {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #fff;
}
.projects .project .code i {
    font-size: 20px;
    color: var(--secondary-color);
}
.projects .project .host {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}
.projects .project .preview {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
}
.projects .project a {
    text-decoration: underline;
    color: var(--secondary-color);
}
/* #----------------------------------- about me -----------------------------------# */
.about {
    background-image: url("/assets/bg_img.png");
    background-size: cover;
    padding: 20px 0;
    overflow: hidden;
}
.about p {
    text-align: center;
    font-weight: bold;
}
.about .box {
    padding: 25px;
    letter-spacing: 1.1px;
    box-shadow: 0 0 25px #000;
    border-radius: 10px;
    color: #fff;
    background-color: var(--secondary-color);
    transform: translateY(100px);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.6s ease-out, opacity 0.6s;
}
.box.active {
    transform: translateY(0);
    opacity: 1;
}
/* #----------------------------------- footer -----------------------------------# */
.footer {
    background-color: var(--main-color);
    padding: 20px 0;
    text-align: center;
}
.footer h2 {
    border-bottom: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 30px;
}
.footer ul {
    color: var(--secondary-color);
    padding: 20px 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.footer .sections3 ul a {
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
}
.footer .sections3 a:hover {
    color: var(--secondary-color);
    text-shadow: 0 0 15px var(--secondary-color), 
    0 0 30px var(--secondary-color),
    0 0 45px var(--secondary-color),
    0 0 60px var(--secondary-color);
}
.footer .social ul a {
    color: var(--secondary-color);
    padding: 0px 9px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    transition: 0.3s;
}
.footer .social ul a:hover {
    background-color: #fff;
    box-shadow: 0 2px 10px 5px #0063f5;
}